* {
    margin: 0 ;
    padding: 0;
    
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.header-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 16px 200px 16px 200px;
    background: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    color: white;
    align-items: center;

}
.header-container h1 {
    font-size: 48px;
    font-weight: bolder;
}
.gradient {

    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.About-section  {
    font-size: 15px;
    font-weight: 500;
    display: flex; justify-content: space-between; align-items: center; gap: 32px ;
}
.button-content {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 100px;
    border: none;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.button-content:hover {
    color: lightblue;
}