* {
    margin: 0  ;
    padding: 0;
   
   
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.header-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 16px 200px 16px 200px;
    background: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    color: white;
    align-items: center;
    width: 1600px;
    height: 92px;

}
.header-container h1 {
    font-size: 48px;
    font-weight: bolder;
}
.gradient {

    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.About-content  {
    font-size: 15px;
    font-weight: 500;
    display: flex; justify-content: space-between; align-items: center; gap: 32px ;
}
.button-content {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 100px;
    border: none;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.button-content:hover {
    color: lightblue;
}
.bg-img{
    background: url("./assets/hero-bg.png")  center/cover no-repeat;
     height: 760px;
    width: 1600px;

    
}
.hero-content {
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./assets/hero-circle.png);
    width: 350px;
    height: 350px;
    margin-top:90px;
}
.mic {
    position: center;
    width: 120px;
    height:175px;
}
.Edge {
    position: absolute;
    top: 200px;
    right: 630px;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 8px 16px 8px 16px;
}
.hero-content1 {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    color: white;
    margin-top: 40px;
}
.hero-content2 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 8px;
    opacity: 0.8;
}
.special-button {
    display: flex;
    background: transparent;
    border-radius: 100px;
    border: 2px solid rgba(0, 255, 136, 1);
    padding: 12px 20px 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
    cursor: pointer;
    gap: 8px;
}
.btn {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    gap: 20px;
}
.About-section {
    background: rgba(26, 11, 46, 1);
    padding: 50px 200px 120px 200px;
    text-align: center;
    display: block;
    width: 1200px;
    height: 646px;
}
.About-section h2 {
    font-size: 48px;
    font-weight: 700;
    color: white;
    padding-bottom: 16px; }
.About-section p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    opacity: 0.8;
    margin-bottom: 79.5px;
}
.Footer-content {
    border-top: 1px solid rgba(65, 37, 103, 1);
    display: flex;
    justify-content: space-around;
    padding: 80.5px 200px 120px 200px;
    align-items: flex-end;
    gap: 80px;
} 
.Footer-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
} 
.Footer-content p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    opacity: 0.8;
    margin-top: 16px;
    
}
.Quality-content {
    background: rgba(35, 14, 61, 1);
    height: 1121px;
    width: 1200px;
    padding: 218px 200px 120px 200px;
}
.heading {
    font-size: 48px;
    font-weight: 700; 
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.Quality-content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-template-rows: repeat(3, 1fr);
    
}
.Quality-content img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.Quality-content h3 {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-top: 16px;
}
.Quality-content p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    opacity: 0.6;
    margin-top: 16px;
}

.headphone-img  {
    grid-column: span 1;
    grid-row: span 2;
    width: 300px;
    height: 400px;
    padding: 40px;
    border: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    justify-content: center;
   align-items: flex-start;

}
.device-img  {
    grid-column: span 2;
    grid-row: span 1;
    width: 710px;
    height: 145px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    justify-content: flex-start;
   align-items: flex-start;

}

.resource-img  {
    grid-column: span 1;
    grid-row: span 1;
    width: 300px;
    height: 193px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    justify-content: flex-start;
   align-items: flex-start;

}
.featured-episodes {
    background: rgba(26, 11, 46, 1);
    padding: 120px 200px 120px 200px;
    width: 1200px;
    height: 538px;
   
}
.featured-episodes h2 {
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
     text-align: center;
}
.episodes-container {
    display: flex;
    gap: 24px;
    }
.episode-card {
      background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    width: 380px;
    height: 440px;
}
.episode-card h3 {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 12px;
}
.episode-card p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    opacity: 0.6;
     margin-bottom: 12px;
}
.duration {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
    
}
.social-icons {
    display: flex;
    gap: 8px;
    
}
.Host-container{
    display: flex;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);   
    margin: 40px 200px 120px 200px;

}
.social-icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  

}
